{
    "token": "botTokenHere",
    "botID": "botDiscordID",
    "serverName": "Server Name",
    "serverID": "Server Discord ID",
    "sqlDB": "DataBase.sqlite",

    "cmdPrefix": "!",

    "adminRoleName": "admin",
    "modRoleName": "mod",
    "raidLeaderRoleName": "raid_leader",
    "timeOutRoleName": "time out",
    "verifiedRoleName": "pic_verified",
    "EXRaidCategory": "ex raids",
    "faqChannel":"faq",
    "researchChannel":"research",
             
	
    "rulesChannelID": "",
    "announcementChannelID": "",
    "mainChannelID": "",
    "modlogChannelID": "",
    "welcomeChannelID": "",
    "botsupportChannelID": "",
    "regionsortingChannelID": "",
    "regionsortingInfoChannelID": "",
    "donationChannelID": "",
    "rulesreadChannelID": "",
    "exListChannel": "",

    "ignoredChannels": [
        "",
        "",
        "",
        ""
        
    ],
    

    "raidURL": "",
    
    "paypalURL": "https://www.paypal.me/",

    "banEvents": "yes",

    "goodColor": "#00FF00",
    "warningColor": "#FF9900",
    "dangerColor": "#FF0000",
    "botName": "",
    "botAvatar": "",

    "offlineImg": "https://raw.githubusercontent.com/JennerPalacios/SimpleDiscordBot/master/img/User-Offline.png",
    "warningImg": "https://raw.githubusercontent.com/JennerPalacios/SimpleDiscordBot/master/img/User-Warned.png",
    "mutedImg": "https://raw.githubusercontent.com/JennerPalacios/SimpleDiscordBot/master/img/User-Muted.png",
    "kickedImg": "https://raw.githubusercontent.com/JennerPalacios/SimpleDiscordBot/master/img/User-Kicked.png",
    "bannedImg": "https://raw.githubusercontent.com/JennerPalacios/SimpleDiscordBot/master/img/User-Banned.png",
    "imgURL": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/",
    "shinyimgURL": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/",
    "imgFormat": ".png"
}
